<div class="list">
  <span class="container-header">Lista gier</span>
  <div class="list-button">
    <button class="button-add" [routerLink]="['/game/create']">Dodaj</button>
  </div>
  <div class="container-list">
    <div *ngIf="!gamesList.length">
      <span>Brak gier</span>
    </div>
    <div *ngFor="let game of gamesList | slice
                : (pagination.currentPage - 1) * pagination.pageSize
                : pagination.currentPage * pagination.pageSize" class="list-body">
      <div class="game-name">{{game.gameName}}</div>
      <div>
        <div class="game-desc">Kategoria: {{game.category.categoryName}}</div>
        <div class="game-rating">Ocena: {{game.gameRating}} / 10</div>
      </div>
      <div class="container-icon">
        <button mat-icon-button matTooltip="Szczegóły" (click)="openDetails(game.gameId)">
          <mat-icon class="icon details">info</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Edytuj" [routerLink]="['/game/edit',game.gameId]">
          <mat-icon class="icon edit">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Usuń" (click)="deleteGame(game.gameId)">
          <mat-icon class="icon delete">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="container-pagination" >
    <app-pagination [collectionSize]="gamesList.length"  [firstLastButtons] = "true" [maxSize]="2" #pagination ></app-pagination>
  </div>
</div>
