<div class="container-change-username">
  <span  class="change-username-header">Zmiana nazwy użytkownika</span>
  <form [formGroup]="updateUsernameForm" class="change-username-form" (ngSubmit)="updateUsername()">
    <mat-form-field appearance="outline">
      <mat-label>Nazwa użytkownika</mat-label>
      <input matInput type="text" formControlName="username">
      <mat-error *ngIf="updateUsernameForm.get('username')?.errors?.required">Nazwa użytkownika jest wymagana</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="change-username-button" [disabled]="updateUsernameForm.invalid">
      Zapisz
    </button>
  </form>
  <span>Zapisanie spowoduje wylogowanie</span>
</div>
