<div style="display:flex; flex-direction: column; align-items: center; row-gap: 10px; margin-top: 100px">
  <div style="font-size: 24px">Zmiana nazwy użytkownika</div>
  <form [formGroup]="updateUsernameForm" style="display: flex; flex-direction: column; row-gap: 10px; width: 320px" (ngSubmit)="updateUsername()">
    <mat-form-field appearance="outline">
      <mat-label>Nazwa użytkownika</mat-label>
      <input matInput type="text" formControlName="username">
      <mat-error *ngIf="updateUsernameForm.get('username')?.errors?.required">Nazwa użytkownika jest wymagana</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" style="height: 40px" [disabled]="updateUsernameForm.invalid">
      Zapisz
    </button>
  </form>
  <span>Zapisanie spowoduje wylogowanie</span>
</div>
