<div style="display:flex; flex-direction: column; align-items: center; row-gap: 10px">
  <span class="container-header">Nowa gra</span>
  <form [formGroup]="gameForm" (ngSubmit)="onSubmit()"  style="display: flex; flex-direction: column">
    <mat-form-field appearance="outline">
      <mat-label>Nazwa gry</mat-label>
      <input matInput formControlName="gameName">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Opis gry</mat-label>
      <textarea formControlName="gameDesc" matInput cdkAutosizeMinRows="2" cdkAutosizeMaxRows="10"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ocena gry</mat-label>
      <input type="number" matInput formControlName="gameRating" min="1" max="10">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input formControlName="categoryId" matInput [matAutocomplete]="auto" >
      <mat-label>Kategoria</mat-label>
      <mat-autocomplete showAutocompleteList [displayWith]="displayFn.bind(this)"  #auto="matAutocomplete" >
        <mat-option *ngFor="let option of category " [value]="option.categoryId">
          {{option.categoryName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="gameForm.invalid">Dodaj</button>
  </form>
</div>

