.container-pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 16px 0;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(207, 207, 207, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(207, 207, 207, 1);
  box-shadow: 0px 0px 7px 0px rgba(207, 207, 207, 1);
}

.pagination-list{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  padding: 2px;
  list-style-type: none;
}

.page-link{
  border: none;
  background-color: transparent;
  width: 48px;
  height: 24px;
  font-size: 24px;
  font-weight: 600;
}

.button-disabled{
  opacity: 0.5;
  pointer-events: none;
}

.page-active{
  border: 2px blueviolet solid;
  border-radius: 8px;
  color: blueviolet;
}


