<div class="container-pagination">
  <ul class="pagination-list">
    <!-- first button -->
    <li
      [ngClass]="currentPage === 1 ? 'button-disabled' : ''"
      *ngIf="firstLastButtons"
    >
      <button class="page-link" (click)="selectPageNumber(1)">««</button>
    </li>
    <!-- previous button -->
    <li
      *ngIf="nextPreviousButtons" [ngClass]="currentPage === 1 ? 'button-disabled' : '' "
    >
      <button class="page-link" (click)="previousPage()">«</button>
    </li>
    <!-- page numbers -->
    <ng-container *ngFor="let p of totalPages; index as i">
      <li
        *ngIf="i + 1 >= currentPage - maxSize && i + 1 <= currentPage + maxSize"
      >
        <button class="page-link"  (click)="selectPageNumber(i + 1)"
                [ngClass]="currentPage === i + 1 ? 'page-active' : ''">
          {{ i + 1 }}
        </button>
      </li>
    </ng-container>
    <!-- next button -->
    <li class="" [ngClass]="currentPage === totalPages.length ? 'button-disabled' : ''"
      *ngIf="nextPreviousButtons"
    >
      <button class="page-link" (click)="nextPage()">»</button>
    </li>
    <!-- last button -->
    <li [ngClass]="currentPage === totalPages.length ? 'button-disabled' : ''"
      *ngIf="firstLastButtons"
    >
      <button class="page-link arrow" (click)="selectPageNumber(totalPages.length)">
        »»
      </button>
    </li>
  </ul>
</div>
