<div style="display: flex; flex-direction: column; justify-content: center">
  <mat-toolbar class="toolbar" color="primary">
    <div class="toolbar-content">
      <button *ngIf="menuButtonIsVisible" mat-icon-button (click)="sidenav.toggle()"  aria-label="Example icon button with a menu icon">
        <mat-icon class="icon-menu">menu</mat-icon>
      </button>
      <span>YourPlatform</span>
    </div>
    <div class="content-auth">Zaloguj</div>
  </mat-toolbar>
  <mat-sidenav-container [hasBackdrop]="backdropSideNav">
    <mat-sidenav #sidenav  >
      <mat-list class="nav">
        <mat-list-item [routerLink]="['home']">
          <div class="nav-item" >
            <mat-icon class="item-icon">dashboard</mat-icon>
            <span class="nav-name">Szczegóły</span>
          </div>
        </mat-list-item>
        <mat-list-item [routerLink]="['category']">
          <div class="nav-item" >
            <mat-icon class="item-icon">category</mat-icon>
            <span class="nav-name">Kategorie</span>
          </div>
        </mat-list-item>
        <mat-list-item [routerLink]="['game']">
          <div class="nav-item" >
            <mat-icon class="item-icon">sports_esports</mat-icon>
            <span class="nav-name">Gry</span>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div [style.margin-left.px]="marginContent" class="content mat-elevation-z8">
        <router-outlet ></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

