
.list{
  display:flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  margin-top: 16px
}

.list-button{
  display: flex;
  justify-content: center;
  width: 95%;
}

.button-add {
  background-color: var(--primary);
  border-radius: 6px;
  border-width: 0;
  cursor: pointer;
  color: white;
  outline: none;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

.button-add:hover{
  background-color: #a75cf1;
}

.container-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  width: 100%;
  font-size: 32px
}

.list-body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  width: 95%;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(207, 207, 207, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(207, 207, 207, 1);
  box-shadow: 0px 0px 7px 0px rgba(207, 207, 207, 1);
}

.category-name{
  margin: 8px;
  font-size: 32px;
}
.category-desc{
  margin: 8px;
  font-size: 24px
}

.container-pagination{
  display: flex;
  justify-content: center;
  width: 100%
}

.container-icon{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 24px;
  margin: 0 8px 8px 0
}

.icon{
  scale: 2;

}

.details{
  color: #004a9f
}

.edit{
  color: #008000
}

.delete{
  color: #ff0000
}
