.list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "header header header"
  "add-button add-button add-button"
  "content content content"
  "pagination pagination pagination";
  row-gap: 12px;
  margin-top: 16px
}

.container-header{
  grid-area: header;
  justify-self: center;
}

.button-add {
  background-color: #8a2be2;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  color: white;
  outline: none;
  text-align: center;
  font-size: 18px;
  padding: 10px 6px;
  line-height: 24px;
  width: 128px;
  height: 48px;
  grid-area: add-button;
  justify-self: end;
  transition: 250ms ease-in-out;

}

.button-add:hover{
  background-color: #a75cf1;
  transition: 250ms ease-in-out;
}

.container-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  width: 100%;
  font-size: 32px;
  grid-area: content;
}



.container-pagination{
  display: flex;
  justify-content: center;
  width: 100%;
  grid-area: pagination;
}


