 <nav class="container-nav" >
    <div class="nav-routing">
      <div class="nav-hamburger" *ngIf="isMobile">
        <input [checked]="isMenuClosed" (click)="closeMenu()" style="display: none" type="checkbox" id="menu">
        <label  for="menu">
          <div class="hamburger-icon" [ngClass]="!isMenuClosed ? 'is-active' : ''">
            <div class="icon-line"></div>
            <div class="icon-line"></div>
            <div class="icon-line"></div>
          </div>
        </label>
      </div>
      <span [ngStyle]="{'margin-left': isMobile ? '8px' : '60px'}" class="nav-name">Your Platform</span>
      <ul class="nav-list" *ngIf="!isMobile && user">
        <li class="list-route" [routerLink]="['category','list']" [routerLinkActive]="['active2']"  (click)="closeMenu()">
          <a>
            Kategorie
          </a>
        </li>
        <li class="list-route">
          <a [routerLink]="['game','list']" [routerLinkActive]="['active2']">
            Gry
          </a>
        </li>
      </ul>
    </div>
    <ng-container  *ngIf="!isMobile">
      <div [ngStyle]="{'margin-right': isMobile ? '8px' : '60px'}">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon style="scale: 1.5; color: var(--secondary)">person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item *ngIf="user" [routerLink]="['settings']">
            <mat-icon>settings</mat-icon>
            <span>Ustawienia</span>
          </a>
          <a mat-menu-item *ngIf="!user" [routerLink]="['auth','login']">
            <mat-icon>login</mat-icon>
            <span>Zaloguj</span>
          </a>
          <a mat-menu-item *ngIf="!user" [routerLink]="['auth','register']">
            <mat-icon>person_add</mat-icon>
            <span>Zarejestruj</span>
          </a>
          <a mat-menu-item *ngIf="user" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Wyloguj</span>
          </a>
        </mat-menu>
      </div>
    </ng-container>
  </nav>
