<div *ngIf="category" class="container">
  <div class="container-header">Szczegóły</div>
  <div class="container-body">
    <div class="body-item">
      <div class="item-header">Nazwa:</div><div class="item-name">{{category.categoryName}}</div>
    </div>
    <div class="body-item">
      <div class="item-header">Opis:</div><div class="item-name">{{category.categoryDesc}}</div>
    </div>
    <div class="body-item">
      <div class="item-header">Ilość gier:</div><div class="item-name">{{category.gameCount}}</div>
    </div>
  </div>
  <div class="container-button">
    <button type="button" class="button" (click)="close()">OK</button>
  </div>
</div>

