/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif}

.overlay-backdrop {
  background-color: rgba(98, 98, 98, 0.25);
  cursor: none;
  pointer-events: none;
}

.overlay-panel {
  display: flex;
  flex-direction: column;
  background-color: #fff4f4;
  padding: 20px;
  min-height: 256px;
  min-width: 256px;
  max-width: 60%;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.auth-form{
  display: grid;
  row-gap: 24px;
}

.form-field{
  display: grid;
  row-gap: 4px;
}

.field-input{
  min-height: 32px;
  min-width: 256px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 18px;
}

.container-header{
  font-size: 2rem
}

@media only screen and (max-width: 600px) {
  .overlay-panel{
    width: 90%;
    max-width: 90%;
  }
}
