<div class="container-menu" [ngClass]="isMenuClosed ? 'is-menu-open' : ''" *ngIf="isMobile">
  <ul class="menu-list">
    <li (click)="closeMenu()" *ngIf="user">
      <a class="list-item" [routerLink]="['category','list']" [routerLinkActive]="['active']">
        Kategorie
      </a>
    </li>
    <li (click)="closeMenu()" *ngIf="user">
      <a class="list-item"  [routerLink]="['game','list']" [routerLinkActive]="['active']">
        Gry
      </a>
    </li>
    <li (click)="closeMenu()" *ngIf="user">
      <a class="list-item" *ngIf="user" [routerLink]="['settings']" [routerLinkActive]="['active']">
        Ustawienia
      </a>
    </li>
    <li (click)="closeMenu()">
      <a class="list-item" *ngIf="!user"  [routerLink]="['auth','login']" [routerLinkActive]="['active']">
        Zaloguj
      </a>
    </li>
    <li (click)="closeMenu()">
      <a class="list-item" *ngIf="!user"  [routerLink]="['auth','register']" [routerLinkActive]="['active']">
        Zarejestruj
      </a>
    </li>
    <li  (click)="closeMenu(); logout()">
      <a class="list-item" *ngIf="user"  [routerLinkActive]="['active']">
        Wyloguj
      </a>
    </li>
  </ul>
</div>
