<div class="container-change-password">
  <span class="change-password-header">Zmiana hasła</span>
  <form [formGroup]="updatePasswordForm" class="change-password-header" (ngSubmit)="updatePassword()">
    <mat-form-field appearance="outline">
      <mat-label>Stare</mat-label>
      <input matInput formControlName="oldPassword" #oldPassword [type]="hideOldPassword ? 'password' : 'text'">
      <mat-icon matSuffix *ngIf="oldPassword.value" [matTooltip]="hideOldPassword ? 'Odkryj hasło' : 'Ukryj hasło'" [matTooltipPosition]="'after'" (click)="hideOldPassword = !hideOldPassword">{{hideOldPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="updatePasswordForm.get('oldPassword')?.errors?.required">Stare hasło jest wymagane</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nowe hasło</mat-label>
      <input matInput type="password" #newPassword formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'">
      <mat-icon matSuffix  *ngIf="newPassword.value" [matTooltip]="hideNewPassword ? 'Odkryj hasło' : 'Ukryj hasło'" [matTooltipPosition]="'after'" (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="updatePasswordForm.get('newPassword')?.errors?.required">Nowe hasło jest wymagane</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="change-password-button" [disabled]="updatePasswordForm.invalid">
      Zapisz
    </button>
  </form>
  <span>Zapisanie spowoduje wylogowanie</span>
</div>
