<div style="display:flex; flex-direction: column; align-items: center; row-gap: 10px; margin-top: 100px">
  <div style="font-size: 24px">Zmiana hasła</div>
  <form [formGroup]="updatePasswordForm" style="display: flex; flex-direction: column; row-gap: 10px; width: 320px" (ngSubmit)="updatePassword()">
    <mat-form-field appearance="outline">
      <mat-label>Stare</mat-label>
      <input matInput formControlName="oldPassword" #oldPassword [type]="hideOldPassword ? 'password' : 'text'">
      <mat-icon matSuffix mat-icon-button *ngIf="oldPassword.value" [matTooltip]="hideOldPassword ? 'Odkryj hasło' : 'Ukryj hasło'" [matTooltipPosition]="'after'" (click)="hideOldPassword = !hideOldPassword">{{hideOldPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="updatePasswordForm.get('oldPassword')?.errors?.required">Stare hasło jest wymagane</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nowe hasło</mat-label>
      <input matInput type="password" #newPassword formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'">
      <mat-icon matSuffix mat-icon-button *ngIf="newPassword.value" [matTooltip]="hideNewPassword ? 'Odkryj hasło' : 'Ukryj hasło'" [matTooltipPosition]="'after'" (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="updatePasswordForm.get('newPassword')?.errors?.required">Nowe hasło jest wymagane</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" style="height: 40px" [disabled]="updatePasswordForm.invalid">
      Zapisz
    </button>
  </form>
</div>
